::before,
.edit-link {
  display: none !important;
}

body {
  background-color: #fdfcfc;
}

h1 {
  font-family: balboa-plus-fill, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #232f66;
}

h2 {
  font-family: rustica, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #184887;
}

h3 {
  font-family: rustica, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #292929;
}

p,
address,
a,
li {
  font-family: rustica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #292929 !important;
}

a:hover {
  color: #92d3ec !important;
}

#projekt-oversigt,
#overskrift,
#skole-oversigt {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

#skole-enkle {
  border: black;
  border-style: solid;
  margin: 5px;
  padding: 10px;
}

.site-branding {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 0.6rem;
}

/* #navigation {
  display: flex;
  align-content: end;
} */

#site-navigation > div.main-menu-more > ul > li > button {
  background-color: white;
}

@media (min-width: 1000px) {
  #projekt-oversigt,
  #overskrift,
  #skole-oversigt,
  #brødtekst-skolerinet {
    width: 1000px;
    margin: auto;
    margin-bottom: 100px;
  }
}

@media (max-width: 600px) {
  #projekt-oversigt,
  #skole-oversigt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
  }

  #brødtekst-skolerinet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
    margin-left: 10px;
  }

  #skole-oversigt {
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
  }
}
